/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0 !important;
			padding: 0 !important;
			overflow-x: hidden;
			height: 100%;
			background: #a5a5a5 !important;
		}

		.user_card {
			height: 400px;
			width: 350px;
			margin-top: 150px;
			margin-bottom: auto;
			background: #17539e;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #a5a5a5;
			padding: 10px;
			text-align: center;
		}

		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 3px solid white;
		}
		
		.form_container {
			margin-top: 100px;
		}

		.login_btn {
			width: 100%;
			background: #139c13 !important;
			color: white !important;
		}
		
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		.input-group-text {
			background: #139c13 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
    }
    
    .links{
      color: beige;
    }

    .links:hover{
      color: #a5a5a5;
		}
		
		#sidebar-wrapper {
			min-height: 100vh;
			margin-left: -15rem;
			-webkit-transition: margin .25s ease-out;
			-moz-transition: margin .25s ease-out;
			-o-transition: margin .25s ease-out;
			transition: margin .25s ease-out;
		}
		
		#sidebar-wrapper .sidebar-heading {
			padding: 0.875rem 1.25rem;
			font-size: 1.2rem;
		}
		
		#sidebar-wrapper .list-group {
			width: 20rem;
		}
		
		#page-content-wrapper {
			min-width: 100vw;
		}
		
		#wrapper.toggled #sidebar-wrapper {
			margin-left: 0;
		}
		
		@media (min-width: 768px) {
			#sidebar-wrapper {
				margin-left: 0;
			}
		
			#page-content-wrapper {
				min-width: 0;
				width: 100%;
			}
		
			#wrapper.toggled #sidebar-wrapper {
				margin-left: -18rem;
			}
		}

    .avatar{
      margin: 0;
      color: beige;
      padding:  1em 0;
    }

    .card-header{
      padding:  .75rem 1.25rem;
      margin-bottom: 0;
      /* background-color: #074999 !important; */
      border: none !important;
    } 

    .card{
      border: none;
      margin: 0 importan;
      padding: 0 !important;
    }

    #accordion a{
      color: #ffffff !important;
      font-weight: 400;
      display: block;
    }

    #accordion a:hover{
      color: #fde19f !important;
      font-weight: 400;
      display: block;
      text-decoration: none;
    }

    .list-group-item{
      border-radius: 0 !important;
    }

    .card-block{
      padding: 0 !important;
    }

    .list-group-item-action{
      border: 0 !important;
      border-radius: 0 !important;
      text-align: inherit;
    }
    